@if (ViewBag.Alert != null) //Agregado por Miguel
{
    <div id="alerta" class="container body-content">
        @Html.Raw(@ViewBag.Alert)
    </div>
} @*/////*@


<style>


    .red {
        background-color: red !important;
    }
</style>
<div class="container">
    <h1 id="titulo">Comercios</h1>
    <div class="accordion-bral">
        <div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 120px; border-radius: 0px; "><i class="bi bi-funnel"></i> Filtrar</button>
                </div>
                <div class="col">
                    <button class="btn btn-success float-end" onclick="window.location.href='../Alta/index'" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 125px; border-radius: 0px; "><i class="bi bi-pencil-square"></i> Dar de alta</button>
                </div>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5>Filtrar</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form id="dataForm" class="p-4">
                        <div class="row">
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">RFC</label>
                                <input type="text" name="Rfc" class="form-control form-control-sm" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
                                <input type="text" name="NombreCompleto" class="form-control form-control-sm" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">Razon Social</label>
                                <input type="text" name="RazonSocial" class="form-control form-control-sm" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input type="checkbox" name="Persona" id="checkGrado" value="Fisica" class="only-one">Fisica
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="checkbox" name="Persona" id="checkResumen" value="Moral" class="only-one">Moral
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-2">
                            <button class="btn btn-primary" type="submit" id="filtrar" data-bs-dismiss="offcanvas" aria-label="Close" style="width: 120px; border-radius: 0px; "><i class="bi bi-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content-chip row">
        <ul id="chips"></ul>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="categorizacion" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Emisor</th>
                        <th>RFC</th>
                        <th>nombre completo</th>
                        <th>nombre comercial</th>
                        <th>Direccion</th>
                        <th>Banco</th>
                        <th>Estatus</th>
                        <th>Carga de documentos</th>
                        <th>Revisión</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
