<link rel="stylesheet" href="~/css/bootstrap.min.css">
<style>


    html, body {
        height: 100%;
    }

    body {
        color: #333333;
        background: #fff;
        display: table-cell;
        vertical-align: middle;
    }
    html {
        display: table;
        margin: auto;
    }
    .colorcito {
        color: orange;
    }

    .content {
        max-width: 500px;
        margin: auto;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    h2, h5 {
        text-align: center;
    }
    .foot {
        font-size: smaller;
        text-align: center;
    }
</style>
<body>
    <main>
        <div class="content">

            <img class="center" src="~/img/agm.png">
            <h2>Información Capturada con Éxito</h2>
            <h5>Página autorizada por  <label class="colorcito">Grupo Empresarial AGM</label></h5>

        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="foot">
            &copy; 2022 -   Grupo Empresarial AGM -
        </div>
    </footer>
</body>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>

</script>