@model OXXO.Models.Usuario
@using Microsoft.AspNetCore.Http
<style>
    .input-validation-error 
    {
        border-color: red;
    }
</style>

<div class="offcanvas-header">
    <h5>Editar al Usuario</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <h6 class="card-subtitle mb-2 text-muted">Usuario: @Model.UserName</h6>
    <form id="FormEditar" asp-action="Editar" class="p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdUsuario" />
        <input type="hidden" asp-for="Contrasena" />
        <input type="hidden" asp-for="ConfirmarContrasena" />

        <div class="row">
            <div class="mb-3">
                <label asp-for="Nombre">Nombre(s)</label>
                <input asp-for="Nombre" class="form-control" autocomplete="off" /><span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apellido">Apellido(s)</label>
                <input asp-for="Apellido" class="form-control" autocomplete="off" /><span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName">Nombre de Usuario</label>
                @if (Context.Session.GetString("IdPerfil") == "1")
                {
                    <input asp-for="UserName" class="form-control" autocomplete="off" /><span asp-validation-for="UserName" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="UserName" class="form-control" autocomplete="off" disabled /><span asp-validation-for="UserName" class="text-danger"></span>
                }


            </div>
            <div class="mb-3">
                <div class="col-sm-8">
                    <label asp-for="IdPerfil">Perfil</label>
                    @if (Context.Session.GetString("IdPerfil") == "1")
                    {
                        <select asp-for="IdPerfil" id="dd2Perfiles" name="IdPerfil" class="form-select" asp-items="ViewBag.Perfiles">
                            <option value="">Seleccione el Perfil</option>
                        </select> <span asp-validation-for="IdPerfil" class="text-danger"></span>
                    }
                    else
                    {
                        <select asp-for="IdPerfil" id="dd2Perfiles" name="IdPerfil" class="form-select" asp-items="ViewBag.Perfiles" disabled>
                            <option value="">Seleccione el Perfil</option>
                        </select> <span asp-validation-for="IdPerfil" class="text-danger"></span>
                    }

                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Activo" class="form-check-label"></label>
                @if (Context.Session.GetString("IdPerfil") == "1")
                {
                    <input asp-for="Activo" class="form-check-input" type="checkbox" /><span asp-validation-for="Activo" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Activo" class="form-check-input" type="checkbox" disabled /><span asp-validation-for="Activo" class="text-danger"></span>
                }


            </div>
            <div class="mb-3">
                <label asp-for="Correo">Correo</label>
                <input asp-for="Correo" class="form-control" type="email" /><span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Puesto">Puesto</label>
                @if (Context.Session.GetString("IdPerfil") == "1")
                {
                    <input asp-for="Puesto" class="form-control" /><span asp-validation-for="Puesto" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Puesto" class="form-control" disabled /><span asp-validation-for="Puesto" class="text-danger"></span>
                }


            </div>
            <div class="mb-3">
                <label asp-for="Vigencia">Vigencia</label>
                @if (Context.Session.GetString("IdPerfil") == "1")
                {
                    <input asp-for="Vigencia" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" autocomplete="off" /><span asp-validation-for="Vigencia" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Vigencia" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" autocomplete="off" disabled /><span asp-validation-for="Vigencia" class="text-danger"></span>

                }
            </div>
        </div>
        <div class="row p-2">
                <input type="submit" value="Guardar Usuario" class="btn btn-success" />

        </div>

    </form>
</div>

<script>
    $('#FormEditar').on('submit', function () {
        if (this.checkValidity() == false) {
            return false;
        }
    });
    $(function () {
        $("#dd2Perfiles").select();
    });

</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
