@{
    ViewData["Title"] = "Inicio";
}
<h1>Alta</h1>

<hr />
<div class="container-fluid">
       
    <h1 class="titulo">¡Bienvenido!</h1>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}