@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<script>
    $(document).ready(function () {
        var element = document.getElementById("menu8");
        element.classList.add("active-nav");
    });
</script>
