@model OXXO.Models.GiroComercio

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<div class="offcanvas-header">
    <h5>Dar Alta Giro Comercial</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form id="FormCrear" asp-action="Crear" class="p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="GiroComercial">Nombre del Giro Comercial</label>
                <input asp-for="GiroComercial" class="form-control" autocomplete="off" required /><span asp-validation-for="GiroComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Tasa">Tasa/Comisión por Giro</label>
                <input asp-for="Tasa" class="form-control" autocomplete="off" type="number" min="0" max="100" step="0.01" required /><span asp-validation-for="Tasa" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-2">
            <input type="submit" value="Dar de Alta Nuevo Giro Comercial" class="btn btn-success" />
        </div>
    </form>
</div>


<script>
    $('#FormCrear').on('submit', function () {
        if (this.checkValidity() == false) {
            return false;
        }
    });
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}