@{
    ViewData["Title"] = "Registro";
}
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="text-center text-lg-start">
    <style>
        .card {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    </style>
    <div class="container py-4">
        <div class="row g-0 align-items-center justify-content-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Registrate</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="Comercio" class="form-control" />
                                        <label class="form-label" for="Comercio">Comercio</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="GiroCom" class="form-control" />
                                        <label class="form-label" for="GiroCom">Giro comercial</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" id="Correo" class="form-control" />
                                <label class="form-label" for="Correo">Correo</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="Contrasena" class="form-control" />
                                <label class="form-label" for="Contrasena">Contraseña</label>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block mb-4">
                                Registrarse
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}