@{
    ViewData["Title"] = "Registro";
}
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        background: #FFE2C2;
        background: -webkit-radial-gradient(top right, #FFE2C2, #AAA3D3);
        background: -moz-radial-gradient(top right, #FFE2C2, #AAA3D3);
        background: radial-gradient(to bottom left, #FFE2C2, #AAA3D3);
    }

    .account-block {
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 1.5em .5em .5em;
        border-radius: 2em;
    }

    .account-block .overlay {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .account-block .account-testimonial {
        text-align: center;
        color: #fff;
        position: absolute;
        margin: 0 auto;
        padding: 0 1.75rem;
        bottom: 3rem;
        left: 0;
        right: 0;
    }

    .text-theme {
        color: #5369f8 !important;
    }
</style>



<div id="main-wrapper" class="container">
    <div class="row justify-content-center ">
        <div class="col-xl-5 col-md-5 col-sm-5">
            <div class="card ">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h1 class="h2 font-weight-bold text-theme ">Registrate</h1>
                                </div>
                                <h6 class="h5 mb-0">Bienvenido!</h6>
                                <p class="text-muted mt-2 mb-5">Registrate con un correo y contraseña</p>
                                <form>
                                    <div class="form-group mb-3">
                                        <label for="exampleInputEmail1">Correo</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword1">Contraseña</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="container-login100-form-btn">
                                        <button class="btn btn-outline-warning btn-lg">
                                            Registrar
                                        </button>
                                    </div>
                                </form>
                                <br />
                                <div>
                                    <p class="text-center text-muted text-center mt-2 mb-0">
                                        ¿Ya tienes cuenta? <a asp-action="Login" asp-controller="Login">Inicia sesion</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}