@model OXXO.Models.Perfil

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<div class="offcanvas-header">
    <h5>Crear Un Nuevo Perfil</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form id="FormCrear" asp-action="Crear"  class="p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="Nombre">Nombre del nuevo perfil</label>
                <input asp-for="Nombre" class="form-control" autocomplete="off" required/><span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descripcion">Descripción</label>
                <textarea asp-for="Descripcion" class="form-control" autocomplete="off" rows="3" required></textarea><span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-2">
            <input type="submit" value="Crear Nuevo Perfil" class="btn btn-success" />
        </div>
    </form>
</div>


<script>
    $('#FormCrear').on('submit', function () {
        if (this.checkValidity() == false) {
            return false;
        }
    });
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}