@model OXXO.Models.Login
@{
    ViewData["Title"] = "Inicio de sesion";
}
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .card {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
</style>
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Inicio de sesion</h3>
                        <div class="form-outline mb-4">
                            <input type="email" id="Correo" class="form-control form-control-lg" />
                            <label class="form-label" for="Correo">Correo</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="Contrasena" class="form-control form-control-lg" />
                            <label class="form-label" for="Contrasena-2">Contraseña</label>
                        </div>
                        <div class="form-check d-flex justify-content-start mb-4">
                            <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <label class="form-check-label" style="padding-left:10px;" for="Recordar">  Recordar contraseña</label>
                        </div>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary btn-lg btn-block" type="submit">Iniciar</a>
                        <br />
                        <br />
                        <div>
                            <p class="text-center">
                                ¿Aun no estas registrado? <a asp-action="Index" asp-controller="Registro">Registrate</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

