@model OXXO.Models.Login
@{
    ViewData["Title"] = "Inicio de sesión";
}
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        background: #FFE2C2;
        background: -webkit-radial-gradient(top right, #FFE2C2, #AAA3D3);
        background: -moz-radial-gradient(top right, #FFE2C2, #AAA3D3);
        background: radial-gradient(to bottom left, #FFE2C2, #AAA3D3);
    }

    .account-block {
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding:  .5em .5em;
        border-radius: 1.5em;
    }

    .account-block .overlay {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .account-block .account-testimonial {
        text-align: center;
        color: #fff;
        position: absolute;
        margin: 0 auto;
        padding: 0 1rem;
        bottom: 3rem;
        left: 0;
        right: 0;
    }

    .text-theme {
        color: #5369f8 !important;
    }

</style>
<section>
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-4 col-md-4 col-sm-4">
                <div class="card w-auto">
                    <div class="card-body p-5">
                        <div class="row no-gutters">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="p-0">
                                    <div class="mb-3">
                                        <h1 class="h2 font-weight-bold text-theme m-1 ">Inicio de sesión</h1>
                                    </div>
                                    <h6 class="h5 mb-0">¡Bienvenido!</h6>
                                    <p class="text-muted mt-1 mb-4">Ingresa tu usuario y contraseña</p>
                                    <form name="Login" asp-controller="Login" asp-action="Login" method="post" class="login100-form validate-form">
                                        <div class="form-outline mb-0">
                                            <div class="form-group mb-3" data-validate="El usuario es requerido">
                                                <label class="form-label" for="Usuario">Usuario</label>
                                                <input class="form-control" type="text" asp-for="UserName" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <div class="wrap-input100 validate-input m-b-10" data-validate="La contraseña es requerida">
                                                <label class="form-label" for="Contrasena">Contraseña</label>
                                                <input class="form-control" type="password" asp-for="Contrasena">
                                            </div>
                                        </div>
                                        <div class="form-check d-flex  mb-2">
                                            <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                                            <label class="form-check-label" style="padding-left:10px;" for="Recordar">  Recordar contraseña</label>
                                        </div>
                                        <div class="d-flex p-0 bd-highlight justify-content-center  mb-4">
                                            <button class="btn btn-outline-warning btn-lg ">
                                                Iniciar sesión
                                            </button>
                                        </div>
                                    </form>
                            <div>
                                <p class="text-center text-muted text-center mt-2 mb-0">
                                    ¿Aun no estas registrado? <a asp-action="Index" asp-controller="Registro">Registrate</a>
                                </p>
                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
@section Scripts {


    <script>

   

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

